@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "icons.css";

/* Default Styles */

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    border: none;
    outline: none;
    background: none;
    text-decoration: none;
}
a, button, *:before, *:after{
    transition: 0.2s;
}
a:hover, button:hover{
    cursor: pointer;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
body.hidden{
    overflow: hidden;
}

/* Colors */

:root{
    --neutral5: #F3F3F3;
    --neutral10: #E6E7E8;
    --neutral20: #CECFD2;
    --neutral30: #CECFD2;
    --neutral40: #9D9FA5;
    --neutral50: #6B6F77;
    --neutral60: #535761;
    --neutral70: #3A3F4A;
    --neutral80: #222734;
    --neutral90: #090F1D;

    --primary10: #E9ECF4;
    --primary20: #D2DAE9;
    --primary30: #A5B5D4;
    --primary40: #788FBE;
    --primary50: #4B6AA9;
    --primary60: #1E4593;
    --primary70: #1B3E84;
    --primary80: #153067;
    --primary90: #0F234A;

    --success5: #F1F8EA;
    --success50: #9CCD6C;
    --success60: #72B82D;
    --success70: #67A629;
    --success80: #50811F;
    --success90: #446E1B;

    --error5: #FBEAED;
    --error50: #E46A80;
    --error60: #D82A49;
    --error70: #C22642;
    --error80: #971D33;
    --error90: #82192C;

    --warning5: #FCF4E7;
    --warning50: #E89C2C;
    --warning60: #E59011;
    --warning70: #CE820F;
    --warning80: #A0650C;
    --warning90: #89560A;
}

/* Fonts */

h1, .sub--title{
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    color: var(--neutral80);
}

/* Buttons */

.button--big{
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    color: var(--primary10);
    padding: 19px 31px;
    border: 1px solid var(--primary60);
    background: var(--primary60);
    border-radius: 4px;
}
.button--big:hover{
    background: white;
    color: var(--primary60);
}
.button--light{
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    color: var(--primary60);
    background: var(--primary10);
    border-radius: 8px;
    padding: 12px 20px;
}
.button--light:hover, .button--light--arrow:hover{
    background: var(--primary60);
    gap: 13px;
    color: white;
}
.button--light--small:hover, .button--light--small--arrow:hover{
    background: var(--primary60);
    gap: 8px;
    color: white;
}
.button--light--arrow{
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    color: var(--primary60);
    background: var(--primary10);
    border-radius: 8px;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    gap: 8px;
}
.button--light--arrow:after, .button--light--small--arrow:after, .button--outline--arrow, .button--outline--small--arrow:after{
    content: "\6c";
    font-family: ngprom;
    display: block;
    transform: rotate(180deg);
    font-size: 20px;
    height: 20px;
    color: var(--primary80);
}
.button--light--small{
    font-size: 16px;
    line-height: 21px;
    color: var(--primary60);
    background: var(--primary10);
    border-radius: 8px;
    padding: 8px 12px;
}
.button--light--small--arrow{
    font-size: 16px;
    line-height: 21px;
    color: var(--primary60);
    background: var(--primary10);
    border-radius: 8px;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    gap: 4px;
}
.button--outline{
    font-size: 16px;
    line-height: 21px;
    font-weight: 500;
    color: var(--primary60);
    border: 1px solid var(--primary60);
    padding: 11px 19px;
    border-radius: 8px;
}
.button--outline:hover, .button--outline--arrow:hover{
    background: var(--primary60);
    color: white;
    gap: 13px;
}
.button--outline--small:hover, .button--outline--small--arrow:hover{
    background: var(--primary60);
    color: white;
    gap: 8px;
}
.button--outline--arrow:hover:after, .button--outline--small--arrow:hover:after{
    color: white;
}
.button--outline--arrow{
    font-size: 16px;
    line-height: 21px;
    font-weight: 500;
    color: var(--primary60);
    border: 1px solid var(--primary60);
    padding: 11px 19px;
    display: flex;
    align-items: center;
    gap: 8px;
}
.button--outline--small{
    font-size: 16px;
    line-height: 21px;
    color: var(--primary60);
    border: 1px solid var(--primary60);
    padding: 7px 11px;
}
.button--outline--small--arrow{
    font-size: 16px;
    line-height: 21px;
    color: var(--primary60);
    border: 1px solid var(--primary60);
    padding: 7px 11px;
    display: flex;
    align-items: center;
    gap: 4px;
}

/* Header */

.header{
    display: flex;
    flex-direction: column;
    gap: 0;
    position: fixed;
    width: 100%;
    z-index: 3;
    background: white;
    transition: 0.5s;
}
.header.hidden{
    transform: translateY(-56px);
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}
.header.hidden .header__bottom{
    padding: 3px 0;
}
.header__top{
    padding: 16px 0;
    border-bottom: 1px solid var(--neutral10);
}
.header__top-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    max-width: 1440px;
    margin: 0 auto;
}
.header__address{
    display: flex;
    align-items: center;
    gap: 8px;
}
.header__address{
    cursor: pointer;
}
.header__address:before{
    content: "\72";
    font-family: ngprom;
    color: var(--neutral60);
    font-size: 21px;
    height: 21px;
}
.header__address.time:before{
    content: "\74";
    font-family: ngprom;
    color: var(--neutral60);
    font-size: 21px;
    height: 21px;
}
.header__address-text{
    font-size: 16px;
    line-height: 21px;
    color: var(--neutral60);
    border-bottom: 1px solid var(--neutral60);
    transition: 0.2s;
}
.header__address-text:hover{
    color: var(--primary60);
    border-color: var(--primary60);
}
.header__nav{
    display: flex;
    align-items: center;
    gap: 32px;
}
.header__nav-item{
    font-size: 16px;
    line-height: 21px;
    color: var(--neutral80);
    position: relative;
}
.header__nav-item:after{
    content: '';
    height: 1px;
    left: 50%;
    right: 50%;
    position: absolute;
    bottom: 0;
    background: var(--neutral80);
}
.header__nav-item:hover:after{
    left: 0;
    right: 0;
}
.header__nav-item.red{
    color: var(--error60);
}
.header__nav-item.red:after{
    background: var(--error60);
}
.header__bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 76px;
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    padding: 10px 0;
}
.header__logo-image{
    width: 108px;
}
.header__main{
    display: flex;
    align-items: stretch;
    gap: 16px;
    width: 100%;
}
.header__main-cat{
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    color: var(--primary60);
    background: var(--primary10);
    border-radius: 8px;
    padding: 16px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 245px;
}
.header__main-cat.active{
    background: var(--primary20);
}
.header__main-cat.active:before{
    content: "\61";
    font-family: ngprom;
    font-size: 24px;
    height: 24px;
    color: var(--primary60);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(45deg);
}
.header__main-cat:before{
    content: "\6a";
    font-family: ngprom;
    font-size: 24px;
    height: 24px;
    color: var(--primary60);
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__main-cat:hover{
    background: var(--primary60);
    color: white;
}
.header__main-cat:hover:before{
    color: white;
}
.header__main-search{
    position: relative;
    width: 100%;
}
.header__main-search:before{
    content: '\73';
    font-family: ngprom;
    font-size: 24px;
    color: var(--primary80);
    position: absolute;
    left: 16px;
    top: 16px;
}
.header__main-search--input{
    font-size: 16px;
    line-height: 21px;
    color: var(--neutral80);
    padding: 15.5px 14px 15.5px 46px;
    border: 2px solid var(--primary60);
    box-sizing: border-box;
    width: 100%;
    border-radius: 8px;
}
.header__main-search--input::placeholder{
    color: var(--neutral80);
}
.header__buttons{
    display: flex;
    align-items: stretch;
    gap: 16px;
}
.header__buttons-item{
    width: 47px;
    height: 47px;
    border: 1px solid var(--primary20);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__buttons-item:first-child:before{
    content: "\70";
    font-family: ngprom;
    font-size: 24px;
    color: var(--primary80);
}
.header__buttons-item:nth-child(2):before{
    content: "\71";
    font-family: ngprom;
    font-size: 24px;
    color: var(--primary80);
}
.header__buttons-item:last-child:before{
    content: "\65";
    font-family: ngprom;
    font-size: 24px;
    color: var(--primary80);
}
.header__buttons-item:hover{
    background: var(--primary10);
}

/* Main Slider */

.wrapper{
    padding: 170px 0 48px;
}
.slider__field-slide{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.slider__left{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    max-width: 600px;
}
.slider__title{
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    color: var(--neutral80);
}
.slider__desc{
    font-size: 20px;
    line-height: 26px;
    color: var(--neutral60);
}
.button--outline{
    padding: 19px 31px;
    margin-top: 5px;
}
.slider{
    max-width: 1440px;
    margin: 0 auto 114px;
    display: flex;
    align-items: center;
    gap: 32px;
    box-sizing: border-box;
    padding: 0 16px;
    position: relative;
}
.slider__prev, .slider__next{
    font-size: 24px;
    height: 24px;
    color: var(--primary40);
}
.slider__prev:hover, .slider__next:hover{
    color: var(--primary90);
    cursor: pointer;
}
.slider__next{
    transform: rotate(180deg);
}
.slider__right{
    max-width: 670px;
    width: 100%;
    object-fit: contain;
}
.slider__pagination{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    bottom: -15px;
    width: 100%;
    gap: 6px;
}

/* Product Slider */

.product__slider{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 26px;
    position: relative;
}
.product__slider-top{
    display: flex;
    align-items: center;
    gap: 28px;
}
.product__slider-button{
    font-size: 16px;
    line-height: 21px;
    color: var(--primary60);
    display: flex;
    align-items: center;
    gap: 4px;
    position: relative;
}
.product__slider-button:before{
    content: '';
    position: absolute;
    height: 2px;
    left: 50%;
    right: 50%;
    bottom: -3px;
    background: var(--primary80);
}
.product__slider-button:hover:before{
    left: 0;
    right: 0;
}
.product__slider-button:hover:after{
    transform: rotate(180deg) translateX(-3px);
}
.product__slider-button:after{
    content: "\6c";
    font-family: ngprom;
    font-size: 18px;
    height: 18px;
    color: var(--primary80);
    display: block;
    transform: rotate(180deg);
}
.product__slider-field--item{
    display: flex;
    align-items: stretch;
    gap: 16px;
    background: white;
    border: 1px solid var(--neutral10);
    border-radius: 8px;
    box-sizing: border-box;
    transition: 0.5s;
}
.product__slider-field--item:hover{
    border-color: var(--primary40);
}
.product__slider-link:hover img{
    transform: scale(1.1);
}
.product__slider-link{
    overflow: hidden;
}
.product__slider-link--image{
    width: 204px;
    height: 178px;
    object-fit: cover;
    transition: 0.3s;
}
.product__slider-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    box-sizing: border-box;
    padding: 16px 12px 16px 0;
}
.product__slider-info--name{
    font-size: 16px;
    line-height: 22px;
    color: black;
    max-width: 218px;
}
.product__slider-info--price{
    display: flex;
    align-items: center;
    gap: 16px;
}
.product__slider-info--new{
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    color: black;
}
.product__slider-info--old{
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    color: #8F8F8F;
    text-decoration: line-through;
}
.product__slider-info--discount{
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    color: var(--success5);
    padding: 4px;
    background: var(--success70);
    border-radius: 4px;
}
.product__slider-info--buttons{
    display: flex;
    align-items: center;
    gap: 10px;
}
.product__slider-info--buttons_click{
    font-size: 16px;
    line-height: 21px;
    color: var(--primary60);
    position: relative;
}
.product__slider-info--buttons_click:after{
    content: '';
    position: absolute;
    height: 2px;
    left: 50%;
    right: 50%;
    bottom: -1px;
    background: var(--primary60);
}
.product__slider-info--buttons_click:hover:after{
    left: 0;
    right: 0;
}
.product__slider.new{
    margin: 72px auto;
}
.product__slider-prev, .product__slider-next{
    font-size: 24px;
    height: 24px;
    color: var(--primary40);
    position: absolute;
    top: 60%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product__slider-prev:hover, .product__slider-next:hover{
    color: var(--primary90);
    cursor: pointer;
}
.product__slider-next{
    transform: rotate(180deg);
    margin-top: -2px;
    right: -31px;
}
.product__slider-prev{
    left: -31px;
}

/* Popular Categories */

.popular{
    display: flex;
    flex-direction: column;
    gap: 34px;
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 42px 50px 56px;
    border: 1px solid var(--neutral10);
    border-radius: 24px;
}
.popular__grid{
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 12px;
    flex-wrap: wrap;
}
.popular__grid-item{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 12.5px 8px;
    border: 1px solid white;
    transition: 0.2s;
    border-radius: 12px;
    box-sizing: border-box;
    width: 252px;
}
.popular__grid-item:hover{
    cursor: pointer;
    border-color: var(--primary90);
}
.popular__grid-item--image{
    width: 95px;
    height: 95px;
    object-fit: cover;
    border-right: 1px solid var(--neutral10);
    padding-right: 12px;
}

/* Service */

.service{
    display: flex;
    flex-direction: column;
    gap: 48px;
    background: linear-gradient(var(--primary10) 65%, white 35%);
    margin: 72px 0;
    position: relative;
}
.service__top{
    display: flex;
    align-items: center;
    gap: 84px;
    max-width: 1320px;
    margin: 0 auto;
    padding-top: 68px;
}
.service__text{
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 600px;
    align-items: flex-start;
}
.service__desc{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.service__desc-item{
    font-size: 16px;
    line-height: 24px;
    color: var(--neutral70);
}
.service__check{
    font-size: 16px;
    line-height: 21px;
    color: var(--primary60);
    position: relative;
}
.service__check:after{
    content: '';
    height: 2px;
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: -1px;
    background: var(--primary60);
}
.service__check:hover:after{
    left: 0;
    right: 0;
}
.service__container{
    max-width: 608px;
    max-height: 400px;
    position: relative;
}
.service__container-image{
    width: 100%;
    border-radius: 8px;
    object-fit: contain;
}
.service__container-border{
    position: absolute;
    left: -20px;
    top: -20px;
}
.service__bot{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: stretch;
    gap: 20px;
    width: 100%;
    padding-bottom: 24px;
}
.service__bot .swiper-wrapper{
    align-items: stretch;
}
.service__bot .swiper-slide{
    height: unset;
}
.service__choice{
    display: flex;
    flex-direction: column;
    gap: 12px;
    background: #FFFFFF;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 35px 14px 11px;
    max-width: 272px;
    border: 1px solid #F3F3F3;
    transition: 0.2s;
}
.service__choice:hover{
    border-color: var(--primary90);
    cursor: pointer;
}
.service__choice-image{
    width: 256px;
    height: 167px;
    object-fit: cover;
    padding-bottom: 13px;
    border-bottom: 1px solid #F3F3F3;
}
.service__choice-text{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
}
.service__choice-text--cat{
    font-size: 16px;
    line-height: 21px;
    color: var(--warning50);
    border: 1px solid var(--warning60);
    background: var(--warning5);
    border-radius: 4px;
    padding: 2px 4px;
}
.service__choice-text--name{
    font-size: 18px;
    line-height: 23px;
    color: var(--neutral80);
}
.service__bot::-webkit-scrollbar {
    height: 8px;
}
.service__bot::-webkit-scrollbar-track {
    background: var(--neutral5);
    border-radius: 12px;
}
.service__bot::-webkit-scrollbar-thumb {
    background-color: var(--neutral20);
    border-radius: 12px;
}
.service .product__slider-prev, .service .product__slider-next{
    top: unset;
    bottom: 16%;
}
.service .product__slider-prev{
    left: 10%;
}
.service .product__slider-next{
    right: 10%;
}

/* About */

.about{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 32px;
}
.about__text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    max-width: 576px;
    padding: 23px;
    background: white;
    border: 1px solid var(--neutral5);
    border-radius: 12px;
}
.about__text-desc{
    font-size: 16px;
    line-height: 24px;
    color: var(--neutral70);
}
.about__grid{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;
}
.about__grid-item{
    display: flex;
    align-items: center;
    gap: 16px;
    max-width: 406px;
    border: 1px solid var(--neutral5);
    border-radius: 12px;
}
.about__grid-item--image{
    min-width: 120px;
}
.about__grid-item--text{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.about__grid-item--text_name{
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
    color: var(--neutral90);
}
.about__grid-item--text_value{
    font-size: 16px;
    line-height: 24px;
    color: var(--neutral60);
}

/* Brands */

.brands{
    max-width: 1440px;
    margin: 72px auto;
    display: flex;
    align-items: stretch;
    gap: 20px;
    position: relative;
}
.brands .product__slider-prev, .brands .product__slider-next{
    top: 45%;
}
.brands .swiper-slide{
    max-width: 186px;
    width: unset;
    height: unset;
    transition: 0.2s;
}
.brands__item{
    width: 150px;
    height: 92px;
    object-fit: contain;
    border: 1px solid #E4E9F2;
    padding: 16px;
    border-radius: 8px;
    filter: grayscale(100%);
    transition: 0.2s;
}
.brands__item:hover{
    filter: unset;
}
.brands::-webkit-scrollbar {
    height: 8px;
}
.brands::-webkit-scrollbar-track {
    background: var(--neutral5);
    border-radius: 12px;
}
.brands::-webkit-scrollbar-thumb {
    background-color: var(--neutral20);
    border-radius: 12px;
}

/* Photo Slider */

.photo{
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}
.photo__slider-image{
    max-width: 384px;
    max-height: 396px;
    object-fit: cover;
    border-radius: 8px;
}
.photo .product__slider-prev, .photo .product__slider-next{
    top: 50%;
}

/* News */

.news{
    display: flex;
    flex-direction: column;
    gap: 42px;
    max-width: 1440px;
    margin: 72px auto;
}
.news--field{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}
.news__item{
    position: relative;
    padding: 16px 0 0 16px;
    display: flex;
    align-items: flex-end;
    position: relative;
}
.news__item:before{
    content: '';
    width: 64px;
    height: 64px;
    position: absolute;
    background: url("../img/img_border.svg") no-repeat 100%;
    left: 0;
    top: 0;
}
.news__item-image{
    max-width: 329px;
    max-height: 329px;
    object-fit: cover;
    border-radius: 4px;
}
.news__item-text{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 4px;
    background: #FFFFFF;
    border-radius: 4px;
    width: calc(100% - 8px);
    left: 0;
    bottom: 8px;
    box-sizing: border-box;
    padding: 8px;
}
.news__item-text--date{
    font-size: 16px;
    line-height: 21px;
    color: var(--neutral50);
}
.news__item-text--title{
    font-size: 24px;
    font-weight: 600;
    line-height: 31px;
    color: var(--neutral90);
}

/* Footer */

.footer{
    border-top: 1px solid var(--neutral10);
    padding: 16px 0;
}
.footer--wrap{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.footer--wrap--top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer .header__nav{
    gap: 24px;
}
.footer__contacts{
    display: flex;
    align-items: center;
    gap: 24px;
}
.footer__socials{
    display: flex;
    align-items: stretch;
    gap: 8px;
}
.footer__socials-link{
    width: 32px;
    height: 32px;
    border-radius: 6px;
    border: 1px solid var(--neutral10);
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__socials-link:hover{
    background: var(--primary10);
}
.footer__socials-link i{
    font-size: 24px;
    height: 24px;
    color: var(--neutral60);
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer--wrap--bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.footer__copyright{
    font-size: 16px;
    line-height: 21px;
    color: var(--neutral50);
}
.made-intrid {
    display: inline-block;
    padding: 5px 20px 6px 30px;
    font: 10pt Arial;
    font-weight: bold;
    color: #AB1E11;
    text-decoration: none;
    background-image: url("../img/white.png");
    background-repeat: no-repeat;
}

/* Catalog */

.catalog{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    background: white;
    border-top: 1px solid var(--neutral10);
    z-index: 50;
    transition: 0.4s;
    transform: translateX(-100%);
}
.catalog.active{
    transform: translateX(0);
}
.catalog--wrap{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    gap: 24px;
}
.catalog--left{
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-right: 1px solid var(--neutral10);
    height: 100vh;
    padding-right: 24px;
    box-sizing: border-box;
    padding-top: 32px;
}
.catalog__item{
    font-size: 16px;
    line-height: 21px;
    color: var(--neutral80);
    display: flex;
    justify-content: space-between;
    width: 352px;
    box-sizing: border-box;
    padding: 10px 12px;
    border-radius: 8px;
}
.catalog__item:after{
    content: '\6c';
    font-family: ngprom;
    font-size: 16px;
    height: 16px;
    color: var(--neutral40);
    transform: rotate(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
}
.catalog__item:hover{
    background: var(--neutral5);
}
.catalog__item.active{
    background: var(--neutral5);
}
.catalog--right{
    box-sizing: border-box;
    padding-top: 32px;
    width: 100%;
}
.catalog--peace.block{
    display: none;
    flex-direction: column;
    gap: 40px;
}
.catalog__block{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.catalog__title{
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    color: var(--neutral80);
}
.catalog__block-wrap{
    display: flex;
    align-items: stretch;
    gap: 12px;
    flex-wrap: wrap;
}
.catalog__block-wrap--item{
    display: flex;
    align-items: center;
    gap: 8px;
    background: white;
    border-radius: 8px;
    border: 1px solid var(--primary10);
    padding: 4px 12px 4px 4px;
    transition: 0.2s;
}
.catalog__block-wrap--item:hover{
    background: var(--primary10);
    cursor: pointer;
}
.catalog--peace.pseudo{
    display: none;
    justify-content: space-between;
    align-items: flex-start;
    gap: 24px;
    width: 100%;
}
.catalog__pseudo-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 36px;
}
.catalog__pseudo-list--item{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.catalog__pseudo-field{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.catalog__pseudo-field--item{
    font-size: 16px;
    line-height: 21px;
    color: var(--neutral80);
}
.catalog__pseudo-field--item:hover{
    color: var(--primary60);
}
.catalog--peace.list{
    display: none;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
}
.catalog__list-item{
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    color: var(--neutral80);
}
.catalog--peace.active{
    display: flex;
}

/* Mobile elems on desktop */

.header__mobile-phone, .header__mobile-burger{
    display: none;
}

/* Media Queries */

@media (max-width: 999px) {
    section{
        padding: 0 16px;
    }
    .header{
        border-bottom: 1px solid var(--neutral10);
    }
    .header__top{
        padding: 11px 16px;
        background: var(--neutral5);
        box-sizing: border-box;
    }
    .header__bottom{
        box-sizing: border-box;
        padding: 14px 16px;
        gap: 0;
    }
    .header__nav{
        display: none;
    }
    .header__main, .header__buttons{
        display: none;
    }
    .header__mobile-phone, .header__mobile-burger{
        display: flex;
    }
    .header__mobile-phone{
        font-size: 16px;
        font-weight: 700;
        line-height: 21px;
        color: var(--neutral80);
    }
    .header__mobile-burger {
        width: 44px;
        height: 44px;
        position: relative;
        transition-duration: 1s;
        cursor: pointer;
        background: white;
        border-radius: 12px;
        border: 1px solid var(--primary20);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header__mobile-burger span {
        height: 2px;
        width: 20px;
        background-color: var(--primary80);
        border-radius: 20px;
        position: absolute;
        transition-duration: .25s;
        transition-delay: .25s;
    }
    .header__mobile-burger span:before {
        left: 0;
        position: absolute;
        top: -6px;
        height: 2px;
        width: 20px;
        background-color: var(--primary80);
        content: "";
        border-radius: 20px;
        transition-duration: .25s;
        transition: transform .25s, top .25s .25s;
    }
    .header__mobile-burger span:after {
        left: 0;
        position: absolute;
        top: 6px;
        height: 2px;
        width: 20px;
        background-color: var(--primary80);
        content: "";
        border-radius: 20px;
        transition-duration: .25s;
        transition: transform .25s, top .25s .25s;
    }
    .header__mobile-burger.open span {
        transition-duration: 0.1s;
        transition-delay: .25s;
        background: transparent;
    }
    .header__mobile-burger.open span:before {
        transition: top .25s, transform .25s .25s;
        top: 0px;
        transform: rotateZ(-45deg);
    }
    .header__mobile-burger.open span:after {
        transition: top 0.4s, transform .25s .25s;
        top: 0px;
        transform: rotateZ(45deg);
    }
    .slider{
        margin: 0 auto 88px;
    }
    .slider__field-slide{
        flex-direction: column;
    }
    .slider__right{
        order: 1;
    }
    .slider__left{
        order: 2;
        gap: 16px;
        align-items: flex-start;
    }
    .slider .slider__prev, .slider__next{
        position: absolute;
        z-index: 2;
        top: 53%;
    }
    .slider .slider__prev{
        left: 30px;
    }
    .slider .slider__next{
        right: 30px;
    }
    .slider__title{
        font-size: 32px;
        line-height: 42px;
    }
    .slider__desc{
        font-size: 16px;
        line-height: 24px;
    }
    .slider .button--outline{
        padding: 12px 20px;
        background: var(--primary60);
        color: white;
    }
    .slider__pagination{
        bottom: -35px;
    }
    .product__slider-button{

    }
    .product__slider-field .swiper-wrapper{
        flex-direction: column;
        gap: 16px;
    }
    .product__slider-field--item{
        gap: 12px;
    }
    .product__slider-info--name{
        font-size: 14px;
        line-height: 20px;
    }
    .product__slider-link--image{
        width: 116px;
        height: 197px;
        object-fit: contain;
    }
    .popular {
        padding: 0 16px;
        border: none;
    }
    .popular__grid{
        gap: 2px;
    }
    .popular__grid-item{
        width: 163px;
        flex-direction: column;
        align-items: center;
        gap: 4px;
    }
    .popular__grid-item--image{
        padding-right: 0;
        padding-bottom: 4px;
        border-right: none;
        border-bottom: 1px solid var(--neutral10);
    }
    .popular__grid-item--text{
        text-align: center;
        font-size: 18px;
        line-height: 25px;
        max-width: 140px;
    }
    .service{
        margin: 56px auto;
        background: linear-gradient(var(--primary10) 80%, white 20%);
    }
    .service__top{
        flex-wrap: wrap;
        gap: 16px;
        padding-top: 47px;
    }
    .service__container-border{
        top: -13px;
        left: -13px;
    }
    .service__choice{
        padding: 0;
    }
    .service__choice-text{
        padding: 0 8px 12px;
    }
    .service__choice-image{
        width: 164px;
        height: 116px;
        object-fit: contain;
    }
    .about{
        flex-wrap: wrap;
        gap: 24px;
    }
    .about__text{
        padding: 20px;
    }
    .about__text{
        gap: 16px;
    }
    .about__grid-item--text_name{
        font-size: 18px;
        line-height: 23px;
    }
    .about__grid-item--text_value{
        font-size: 14px;
        line-height: 21px;
    }
    .about__grid-item--image{
        min-width: 93px;
    }
    .brands{
        margin: 56px auto;
    }
    .news--field{
        flex-wrap: wrap;
    }
}